body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.onePlayerDices {
  display: flex;
}

.dice { 
  border: solid black 1px;
  height: 30px;
  margin-left: 5px;
  width: 30px;
}

.row {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  width: 60px;
}

.dice.black {
  background-color: black;
}

.dice.blue {
  background-color: blue;
}

.dice.green {
  background-color: green;
}

.dice.red {
  background-color: red;
}

.dice.white {
  background-color: white;
}

.dice.yellow {
  background-color: yellow;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
